h1 {
    color: black
}

h2 {
    color: black;
    
}

h3 {
    color: black;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    float: right;
    height: 250px;
}

.projects {
    background-color: grey;
    color: black;
}

.me {
    color: black;
    background-color: white
}

.oz {
    background-color: grey; 
    color: black;
}