h1 {
    color: black
}

h2 {
    color: black;
    
}

h3 {
    color: black;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    float: right;
    height: 250px;
}

.projects {
    background-color: grey;
    color: black;
    padding: 100px;
    border: solid 25px;
    margin: 25px;
}

.me {
    color: black;
    background-color: grey;
    padding: 100px;
    border: solid 50px;
    margin: 50px;
}

.oz {
    background-color: grey; 
    color: black;
    padding: 150px;
    border: 50px solid;
    margin: 50px;
}
